<ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
</ul>
{#
<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height mui--text-title">DB Snapshots</div>
  <div class="mui-divider"></div>
    <ul>
      {% for category in sidebar.categories %}
    <li>
      <strong>{{ category.name }}</strong>
      <ul>
          {% for link in category.links %}
        <li>{{link}}</li>
          {% endfor %}
      </ul>
    </li>
      {% endfor %}
  </ul>
    <div class="mui-divider"></div>
    <div class="mui--text-center">
        <a href="{{url_for('docker.mysql_new')}}" class="mui-btn mui-btn--primary">Button</a>
    </div>
</div>
#}